$color-primary: #FDCB46;
$color-secondary: #579C87;
$color-bloc-note: #FCDFDB;
$color-bloc-chic: #FFF5FE;
$color-bloc-delice: #F9F9F9;
$color-bloc-palette: #FDFFFD;
$color-text-note-menu: #000;
$color-text-chic-menu: #c77412;
$color-text-delice-menu: #1b91fa;
$color-text-palette-menu: #4c9f42;
$color-text-carte-note-delice-palette: #000;

$font-family-note: 'Devonshire', Arial, Helvetica, sans-serif;
$font-family-chic: 'Croissant One', Arial, Helvetica, sans-serif;
$font-family-delice: 'Dancing Script', Arial, Helvetica, sans-serif;
$font-family-palette: 'Kaushan Script', Arial, Helvetica, sans-serif;
$font-family-chic-menu: 'Noto Serif', Arial, Helvetica, sans-serif;
$font-family-note-delice-palette-menu: 'Caveat', Arial, Helvetica, sans-serif;

$size-text-menu: 1.5rem;
$size-text-menu-chic: 1.2rem;


@mixin carte-note-delice-palette {
    color: $color-text-carte-note-delice-palette;
    h2 {
        font-size: 2.5rem;
    }
    h4 {
        font-weight: normal;
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
    }
}

@mixin color-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin color-logo-note {
    background: linear-gradient(270deg, rgba(241,88,97,0.2836484935771183) 36%, rgba(255,0,0,1) 79%);
    @include color-text;
}

@mixin color-text-chic {
    background: linear-gradient(90deg, #c77412 0%, #905bfd 100%);
    @include color-text;
}

@mixin color-text-delice {
    background: linear-gradient(90deg, #0645e5 0%, #1b91fa 100%);
    @include color-text;
}

@mixin color-text-palette {
    background: linear-gradient(90deg, #4c9f42 0%, #bfff7e 100%);
    @include color-text;
}

@mixin margin-text-menu {
    margin: 1vh;
}

@mixin position-text-menu {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    text-align: center;
    width: auto;
    padding: 2rem;
}

@mixin position-logo-note {
    position: relative;
    top: 2rem;
    font-size: 2rem;
}

@mixin size-bloc-menu {
    width: 70%;
    max-width: 300px;
    height: 50vh;
    box-shadow: 0 0 .5rem #AFAFAF;
    margin: 0rem 1rem 3rem 1rem;
}


// GENERAL


* {
	box-sizing: border-box;
}

body {
    width: auto;
    min-width: 250px;
	margin: 0;
	padding: 0;
    font-size: 1rem;
    a {
        text-decoration: none;
        color: unset;
    }
    h1, section h2, h3 {
        color: $color-primary;
        font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    }
    section h2, h3 {
        font-weight: normal;
    }
    header, .btn, footer {
        background-color: $color-secondary;
    }
    header {
        text-align: center;
        width: 100%;
        h1 {
        margin-top: 0;
        margin-bottom: 5vh;
        padding: 1rem;
        }
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        min-width: 250px;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
    }
}

// PAGE D'ACCUEIL


.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__bloc {
        @include size-bloc-menu;
        &--note {
            @include position-text-menu;
            background-color: $color-bloc-note;
            font-family: $font-family-note;
            font-size: $size-text-menu;
            p, h4 {
                @include margin-text-menu;
                color: $color-text-note-menu;
            }
            h4 {
                text-transform: uppercase;
                font-family: $font-family-note-delice-palette-menu;
                font-size: 2rem;
            }
            .fa-music {
                @include position-logo-note;
                @include color-logo-note;
            }
        }
        &--chic {
            @include position-text-menu;
            background-color: $color-bloc-chic;
            font-family: $font-family-chic;
            font-size: $size-text-menu;
            h4 {
                @include margin-text-menu;
            }
            p {
                font-size: $size-text-menu-chic;
                @include color-text-chic;
            }
            h4 {
                font-family: $font-family-chic-menu;
                color: $color-text-chic-menu;
            }
        }
        &--delice {
            @include position-text-menu;
            background-color: $color-bloc-delice;
            font-family: $font-family-delice;
            font-size: $size-text-menu;
            p, h4 {
                @include margin-text-menu;
            }
            p {
                @include color-text-delice;
            }
            h4 {
                font-family: $font-family-note-delice-palette-menu;
                color: $color-text-delice-menu;
                font-size: 2rem;
                font-weight: normal;
            }
        }
        &--palette {
            @include position-text-menu;
            background-color: $color-bloc-palette;
            font-family: $font-family-palette;
            font-size: $size-text-menu;
            p, h4 {
                @include margin-text-menu;
            }
            p {
                @include color-text-palette;
            }
            h4 {
                font-family: $font-family-note-delice-palette-menu;
                color: $color-text-palette-menu;
                font-size: 2rem;
                font-weight: normal;
            }
        }
    }
}

.btn {
    border-radius: .5rem;
    cursor: pointer;
    margin-top:0;
    margin-bottom: 5.5rem;
    text-align: center;
    width: 60%;
    min-width: 250px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    h2 {
        margin-top: 0;
        padding: .5rem;
    }
    span {
        width: .3rem;
        height: .3rem;
        border-radius: 50%;
        background-color: $color-primary;
        display: inline-block;
        margin-left: .2rem;
    }
}

// CARTES MENUS

// TEMPLATE


.carte {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;
    &__bloc {
        width: 100%;
        padding: .5rem;
    }
    h1 {
        font-size: 1.5rem;
        color: #000;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    h2 {
        text-align: center;
        margin-top: 2.5rem;
        font-size: 2.5rem;
        font-weight: normal;
    }
    h3 {
        margin: 2.5rem;
        text-align: center;
        font-size: 2rem;
    }
    h4 {
        cursor: pointer;
        font-size: 1.3rem;
    }
    section {
        margin-bottom: 2rem;
        p {
            margin: .5rem .5rem;
        }
    }
    .formule {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4 {
            text-align: center;
        }
        .before, .after {
            width: 30%;
            height: 50px;
        }
        .after {
            transform: rotateY(180deg);
        }
    }
}

// LA NOTE ENCHANTEE

.carte__bloc{
    &--note {
        background-color: $color-bloc-note;
        font-family: $font-family-note-delice-palette-menu;
        @include carte-note-delice-palette;
        .fa-music {
            @include color-logo-note;
        }
        section {
            p {
                padding-left: 0;
                strong {
                    padding-right: 0;
                }
            }
        }
        h2, h3 {
            font-family: $font-family-note;
        }
        h2 {
            font-size: 2.5rem;
            .fa-music {
                font-size: 3.5rem;
            }
        }
        h3 {
            color: $color-text-note-menu;
            .fa-music {
                font-size: 2rem;
                position: relative;
                right: 1rem;
            }
        }
        .before, .after {
            clip-path: polygon(46% 45%, 89% 49%, 100% 47%, 100% 53%, 64% 52%, 36% 51%, 10% 55%, 0 53%, 0 47%, 11% 49%);
            background-color: #000;
        }
        h4 {
            font-size: 2rem;
            font-weight: bold;
        }
    }
}

// LE CHIC A LA FRANCAISE

.carte__bloc{
    &--chic {
        background-color: $color-bloc-chic;
        font-family: $font-family-chic-menu;
        h4 {
            font-size: 1.1rem;
        }
        p {
            font-size: .9rem;
        }
        h2 {
           @include color-text-chic;
           font-family: $font-family-chic;
           font-size: 1.7rem;
           margin-bottom: 3rem;
        }
        .before, .after {
            clip-path: polygon(0 49%, 84% 40%, 100% 50%, 84% 60%);
        }
        .entree {
            color: $color-text-chic-menu;
            .before, .after {
                background: #c77412;
            }
        }
        .plat {
            color: #A56799;
            .before, .after {
                background: #A56799;
            }
        }
        .dessert {
            color: #905bfd;
            .before, .after {
                background: #905bfd;
            }
        }
    }
}

// LE DELICE DES PAPILLES

.carte__bloc{
    &--delice {
        background-color: $color-bloc-delice;
        font-family: $font-family-note-delice-palette-menu;
        @include carte-note-delice-palette;
        h2 {
            @include color-text-delice;
            font-family: $font-family-delice;
        }
        .before, .after {
            clip-path: polygon(8% 50%, 59% 50%, 96% 50%, 100% 55%, 5% 55%, 0 40%, 6% 49%);
        }
        .entree {
            .before, .after {
                background: #0228DD;
            }
        }
        .plat {
            .before, .after {
                background: #0670F3;
            }
        }
        .dessert {
            .before, .after {
                background: #229DF9;
            }
        }
    }
}

// LA PALETTE DU GOUT

.carte__bloc{
    &--palette {
        background-color: $color-bloc-palette;
        font-family: $font-family-note-delice-palette-menu;
        @include carte-note-delice-palette;
        h2 {
            @include color-text-palette;
            font-family: $font-family-palette;
        }
        .before, .after {
            clip-path: polygon(48% 44%, 75% 50%, 100% 48%, 100% 52%, 80% 55%, 49% 52%, 24% 58%, 0 55%, 0 45%, 21% 50%);
            background: linear-gradient(90deg, #4c9f42 0%, #bfff7e 100%);
        }
    }
}



// ANIMATIONS

// PAGE D'ACCUEIL

.menu__bloc {
    p, h4, .fa-music {
        transition: all 200ms ease-in-out;
    }
    &:hover {
        p, h4, .fa-music {
            transform: scale(1.2);
            opacity: .6;
        }
    }
}

@keyframes loader {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btn:hover {
    span {
        animation: loader 500ms infinite;
    }
    span:nth-of-type(2) {
        animation-delay: 150ms;
    }
    span:nth-of-type(3) {
        animation-delay: 300ms;
    }
}

@keyframes shake {
    25% {
        transform: translateX(2%);
    }
    75% {
        transform: translateX(2% * -1);
    }
}

footer {
    h3:hover {
        animation: shake 150ms 2;
    }
}

// CARTE

.carte__bloc{
    &--note {
        a {
            background: linear-gradient(to top, #000 0%, #000 7%, transparent 7%) no-repeat;
            background-size: 0 100%;
            transition: background-size 250ms ease-in-out;
        }
        a:hover {
            background-size: 100% 100%;
        }
    }
}
    
.carte__bloc{
    &--chic {
        a {
            padding-bottom: .2rem;
            transition: background-size 250ms ease-in-out;
        }
        .appetit {
            background: linear-gradient(to top, #c77412 0%, #c77412 7%, transparent 7%) no-repeat;
            background-size: 0 100%;
        }.appetit:hover {
            background-size: 100% 100%;
        }
        .papilles {
            background: linear-gradient(to top, #A56799 0%, #A56799 7%, transparent 7%) no-repeat;
            background-size: 0 100%;
        }
        .papilles:hover {
            background-size: 100% 100%;
        }
        .gourmandises {
            background: linear-gradient(to top, #905bfd 0%, #905bfd 7%, transparent 7%) no-repeat;
            background-size: 0 100%;
        }
        .gourmandises:hover {
            background-size: 100% 100%;
        }
    }
}

.carte__bloc{
    &--delice {
        a {
            padding-bottom: .2rem;
            transition: background-size 250ms ease-in-out;
        }
        .commencer {
            background: linear-gradient(to top, #0228DD 0%, #0228DD 7%, transparent 7%) no-repeat;
            background-size: 0 100%;
        }.commencer:hover {
            background-size: 100% 100%;
        }
        .continuer {
            background: linear-gradient(to top, #0670F3 0%, #0670F3 7%, transparent 7%) no-repeat;
            background-size: 0 100%;
        }
        .continuer:hover {
            background-size: 100% 100%;
        }
        .terminer {
            background: linear-gradient(to top, #229DF9 0%, #229DF9 7%, transparent 7%) no-repeat;
            background-size: 0 100%;
        }
        .terminer:hover {
            background-size: 100% 100%;
        }
    }
}

.carte__bloc{
    &--palette {
        a {
            padding-bottom: .2rem;
            background: linear-gradient(to top, #4c9f42 0%, #4c9f42 7%, transparent 7%) no-repeat;
            background-size: 0 100%;
            transition: background-size 250ms ease-in-out;
        }
        a:hover {
            background-size: 100% 100%;
        }
    }
}


// landscape phones

@media all and (min-width: 576px) {
    section {
        div {
        display: flex;
        justify-content: space-between;
        }
        p {
            padding-left: 3rem;
            strong {
                padding-right: 3rem;
            }
        }
    }
    .carte__bloc{
        &--delice, &--palette{
            h2 {
                font-size: 3.5rem;
            }
        }
        &--chic {
            h2 {
                font-size: 2rem;
            }
        }
    }
}

// Tablets, desktops

@media all and (min-width: 768px) {
    .menu {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        &__bloc {
            width: 35%;
            &--note, &--chic, &--delice, &--palette {
                width: 100%;
            }
        }
    }

    .carte__bloc {
        width: 80%;
        max-width: 740px;
        box-shadow: 0 0 .5rem #AFAFAF;
        padding: 0;
        &--note, &--chic, &--delice, &--palette {
            padding: 1.5rem;
            width: 100%;
            box-shadow: none;
        }
    }
}

// Large desktops

@media all and (min-width: 1200px) {
    body {
        width: 60%;
        margin: auto;
        footer {
        width: 60%;
        }
    }

    .carte__bloc {
        width: 90%;
        &--note, &--chic, &--delice, &--palette {
            width: 100%;
            padding: 2.5rem;
        }
    }
}