
@import "./utils/variables";
@import "./utils/mixins";
@import "./base/general";
@import "./base/carte";
@import "./components/btn";
@import "./layouts/menu";
@import "./layouts/carteNote";
@import "./layouts/carteChic";
@import "./layouts/carteDelice";
@import "./layouts/cartePalette";




// landscape phones

@media all and (min-width: 576px) {
    section {
        div {
        display: flex;
        justify-content: space-between;
        }
        p {
            padding-left: 3rem;
            strong {
                padding-right: 3rem;
            }
        }
    }
    .carte__bloc{
        &--delice, &--palette{
            h2 {
                font-size: 3.5rem;
            }
        }
        &--chic {
            h2 {
                font-size: 2rem;
            }
        }
    }
}

// Tablets, desktops

@media all and (min-width: 768px) {
    .menu {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        &__bloc {
            width: 35%;
            &--note, &--chic, &--delice, &--palette {
                width: 100%;
            }
        }
    }

    .carte__bloc {
        width: 80%;
        max-width: 740px;
        box-shadow: 0 0 .5rem #AFAFAF;
        padding: 0;
        &--note, &--chic, &--delice, &--palette {
            padding: 1.5rem;
            width: 100%;
            box-shadow: none;
        }
    }
}

// Large desktops

@media all and (min-width: 1200px) {
    body {
        width: 60%;
        margin: auto;
        footer {
        width: 60%;
        }
    }

    .carte__bloc {
        width: 90%;
        &--note, &--chic, &--delice, &--palette {
            width: 100%;
            padding: 2.5rem;
        }
    }
}