// TEMPLATE


.carte {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;
    &__bloc {
        width: 100%;
        padding: .5rem;
    }
    h1 {
        font-size: 1.5rem;
        color: #000;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    h2 {
        text-align: center;
        margin-top: 2.5rem;
        font-size: 2.5rem;
        font-weight: normal;
    }
    h3 {
        margin: 2.5rem;
        text-align: center;
        font-size: 2rem;
    }
    h4 {
        font-size: 1.3rem;
    }
    section {
        margin-bottom: 2rem;
        p {
            margin: .5rem .5rem;
        }
    }
    .formule {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4 {
            text-align: center;
        }
        .before, .after {
            width: 30%;
            height: 50px;
        }
        .after {
            transform: rotateY(180deg);
        }
    }
}
