$color-primary: #FDCB46;
$color-secondary: #579C87;
$color-bloc-note: #FCDFDB;
$color-bloc-chic: #FFF5FE;
$color-bloc-delice: #F9F9F9;
$color-bloc-palette: #FDFFFD;
$color-text-note-menu: #000;
$color-text-chic-menu: #c77412;
$color-text-delice-menu: #1b91fa;
$color-text-palette-menu: #4c9f42;
$color-text-carte-note-delice-palette: #000;

$font-family-note: 'Devonshire', Arial, Helvetica, sans-serif;
$font-family-chic: 'Croissant One', Arial, Helvetica, sans-serif;
$font-family-delice: 'Dancing Script', Arial, Helvetica, sans-serif;
$font-family-palette: 'Kaushan Script', Arial, Helvetica, sans-serif;
$font-family-chic-menu: 'Noto Serif', Arial, Helvetica, sans-serif;
$font-family-note-delice-palette-menu: 'Caveat', Arial, Helvetica, sans-serif;

$size-text-menu: 1.5rem;
$size-text-menu-chic: 1.2rem;